<ion-view title="{{attendedparty.name}}">
  <ion-content has-header="true" padding="true">
	  <div class="card">
		  <div class="item item-text-wrap">
		    <img ng-src="img/{{attendedparty.imgUrl}}" class = "detailedImg">
		    <p></p>
		    <h3>{{attendedparty.name}}</h3>
		    <p></p>
		    Attendees: {{attendedparty.attendees}}
		    <p></p>
		    Address: {{attendedparty.address}}
		    <p></p>
		    Type: {{attendedparty.type}}
		    <p></p>
		    Theme: {{attendedparty.theme}}
		    <p></p>
		  </div>
		</div>
  </ion-content>
</ion-view>