<ion-view title="Create Party 2">
  <ion-content class="has-header padding">
    <h3>2. Make Your Party Awesome</h3>
    
	  <ul class="list">

		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Dickboy
		  </li>

		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Tonya Reed
		  </li>

		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Rayna Roumie
		  </li>		  

		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Danielle Diamond
		  </li>

		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Meaghan Barbin
		  </li>

		</ul>

		<button class="button button-block button-positive">
  	<h4 style="color: white;">CREATE MY PARTY!</h4>
		</button>
  </ion-content>
</ion-view>
