<ion-view title="Create Party">
	<!-- <ion-nav-buttons side="left">
      <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
   </ion-nav-buttons> -->
  <ion-content class="has-header padding">
    <h3>1. Select 4 Other Co-hosts</h3>
   	<!-- <form action="#/tab/createparty2"> -->
		  <ul class="list">

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     Derek Gillaspy
			  </li>

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     Tonya Reed
			  </li>

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     Alex Wainwright
			  </li>		

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     Rayna Roumie
			  </li>		  

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     Danielle Diamond
			  </li>

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     Meaghan Barbin
			  </li>
			</ul>

			<button class="button button-block button-positive" onclick="location.href='#/tab/createparty2'">
	  		<h4 style="color: white;">GO!</h4>
			</button>
		
		<!-- </form> -->
  </ion-content>
</ion-view>
