<ion-view title="Daniel's Account">
  <ion-content class="has-header">
    <div class="partyListFormat">
    <input style = "border: 1px solid gray" type="text" placeholder="Search Titles & Descriptions" ng-model="searchText">
  </div>
    <div class="partyListFormat">
	    <h3>Past Parties Hosted</h3>
	    <ion-list class = "lineHeight">
	      <ion-item ng-repeat="party in hosted | filter: searchText" href="#/tab/party/{{party.id}}">
	        <img ng-src="img/{{party.imgUrl}}" class = "smallImg">
	        {{party.name}}
	      </ion-item>
	    </ion-list>
  	</div>
    
		<div class="partyListFormat">
	    <h3>Past Parties Attended</h3>
	    <ion-list>
	      <ion-item ng-repeat="attendedparty in attended | filter: searchText" href="#/tab/attendedparty/{{attendedparty.id}}">
	        <img ng-src="img/{{attendedparty.imgUrl}}" class = "smallImg">
	        {{attendedparty.name}}
	      </ion-item>
	    </ion-list>
	   </div>
  
  </ion-content>
</ion-view>
