<ion-view title="{{entourage.name}}">
  <ion-content has-header="true" padding="true">
  	<div class="card">
		  <div class="item item-text-wrap">
		    <a href="{{entourage.facebook}}">
		    <img src="img/{{entourage.imgUrl}}" class = "entouragebigImg">
		    </a>
		    <p></p>
		    <h3>{{entourage.name}}</h3>
		    <p></p>
		    <div class="partyListFormat">
		      <h4>Others in Party</h4>
		      <ion-list>
		        <ion-item ng-repeat="member in entourage.members" type="item-text-wrap" href="{{member.facebook}}">
		          <img src="img/{{member.imgUrl}}" class = "smallImg">
		          {{member.name}}
		        </ion-item>
		      </ion-list>
		    </div>
		  </div>
		</div>
		<button class="button button-block button-positive" onclick="location.href='#/tab/findentourages'">
  	<h3 style="color: white;">Accept Entourage</h3>
		</button>
  </ion-content>
</ion-view>