<ion-view title="Create Party">
	<ion-nav-buttons side="left">
      <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
   </ion-nav-buttons>
  <ion-content class="has-header padding">

  	<h3>Invite People To Your Party!</h3
	  <label ng-repeat="(user, cohosts) in cohostList">
			<input type="checkbox" checklist-model="newCohostGroup.cohosts" checklist-value="cohosts"> 
			{{cohosts.facebookInfo.first_name}} {{cohosts.facebookInfo.last_name}}<br>
		</label>

		<button class="button button-block button-positive" ng-click="addCohostGroup(newCohostGroup)">
  		<h4 style="color: white;">GO!</h4>
		</button>
  </ion-content>
</ion-view>
