<ion-view title="{{pendingparties.partyDetails.name}}">
  <ion-content has-header="true">
	  <div class="card">
		  <div class="item item-text-wrap">
		    <img ng-src="{{pendingparties.partyDetails.imgUrl}}" class = "detailedImg">
		    <p></p>
		    <h3>{{pendingparties.partyDetails.name}}</h3>
		    <p></p>
		    Date: {{pendingparties.partyDetails.date | date:'M/d/yy'}}
		    <p></p>
		    Time: {{pendingparties.partyDetails.time | date:'hh:m'}}
		    <p></p>
		    Attendee Range: {{pendingparties.partyDetails.attendeeRange}}
		    <p></p>
		    Address: {{pendingparties.partyDetails.address}}
		    <p></p>
		    Type: {{pendingparties.partyDetails.type}}
		    <p></p>
		    Theme: {{pendingparties.partyDetails.theme}}
		    <p></p>
		    <h3>Cohosts</h3>
		    <p></p>
		    <ion-item ng-repeat="cohosts in pendingparties.cohostGroup.cohosts">
		    	{{cohosts.facebookInfo.first_name}} {{cohosts.facebookInfo.last_name}}
		    	<!-- <span ng-show="{{cohosts.accepted}}">
		    		<img ng-src="img/greencheck.png" class = 'acceptedImg'>
		    	</span>
		    	<span ng-show="!{{cohosts.accepted}}">
		    		<img ng-src="img/redX.png" class = 'acceptedImg'>
		    	</span> -->
		  	</ion-item>
		    <p></p>
		    <h3>Entourages Awaiting Reply</h3>
		    <ion-item ng-repeat="entourages in pendingparties.entouragesApplied" href="#/main/host/acceptedentourage/{{entourages.id}}">
		    	<img ng-src="{{entourages.captain.facebookInfo.picture.data.url}}" class = 'smallImg'>
		    	{{entourages.name}}
		  </div>
		</div>
  </ion-content>
</ion-view>