<ion-view title="Select Cohost Group">
	<ion-nav-buttons side="left">
      <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
   </ion-nav-buttons>
  <ion-content class="has-header padding">
    <h3>1. Select Cohost Group</h3>
		  
		  <h4>Either Select Existing Group</h4>
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Existing Group
		    </div> 
		    <select ng-change = "selectCohostGroup(cohostGroup)" ng-model = "cohostGroup" ng-options = "cohostGroup.name for (name , cohostGroup) in myCohostGroups"></select>
  		</label>

		  <h4>Or Create A New Group</h4>
		  <form name = "nameForm">
			  <label class="item item-input">
			    <input name = "cohostGroupName" type="text" ng-model="newCohostGroup.name" ng-required="true">
			    	<span class="error" ng-show="nameForm.cohostGroupName.$error.required">Required!</span><br>
			  </label>
			</form>

			<br>

		  <label ng-repeat="(user, cohosts) in newCohostGroup.cohosts">
  			<input class = "checkbox item item-checkbox" type="checkbox" checklist-model="newCohostGroup.cohosts" checklist-value="user"> 
  			{{cohosts.facebookInfo.first_name}} {{cohosts.facebookInfo.last_name}}<br>
			</label>

			<button class="button button-block button-positive" ng-click="nameForm.$valid && addCohostGroup(newCohostGroup)">
	  		<h4 style="color: white;">GO!</h4>
			</button>
  </ion-content>
</ion-view>
