<ion-view title="Select Cohost Group">
	<ion-nav-buttons side="left">
      <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
   </ion-nav-buttons>
  <ion-content class="has-header padding">
    <h3>1. Select Cohost Group</h3>
		  
		  <h4>Either Select Existing Group</h4>
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Existing Group
		    </div> 
		    <select ng-change = "selectCohostGroup(cohostGroup)" ng-model = "cohostGroup" ng-options = "cohostGroup.name for (name , cohostGroup) in myCohostGroups"></select>
  		</label>

		  <h4>Or Create A New Group</h4>

		  <label class="item item-input">
		    <span class="input-label">Cohost Group Name</span>
		    <input type="text" ng-model="cohosts.name">
		  </label>

		  <ul class="list">

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox" ng-model="cohosts.DerekGillaspy">
			     </label>
			     Derek Gillaspy
			  </li>

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox" ng-model="cohosts.TonyaReed">
			     </label>
			     Tonya Reed
			  </li>

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox" ng-model="cohosts.AlexWainwright" >
			     </label>
			     Alex Wainwright
			  </li>		

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox" ng-model="cohosts.RaynaRoumie">
			     </label>
			     Rayna Roumie
			  </li>		  

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox" ng-model="cohosts.DanielleDiamond">
			     </label>
			     Danielle Diamond
			  </li>

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox" ng-model="cohosts.MeaghanBarbin">
			     </label>
			     Meaghan Barbin
			  </li>
			</ul>

			<button class="button button-block button-positive" ng-click="addCohostGroup(cohosts)">
	  		<h4 style="color: white;">GO!</h4>
			</button>
  </ion-content>
</ion-view>
