<ion-view title="{{entourage.name}}">
  <ion-content has-header="true" padding="true">
	  <div class="card">
		  <div class="item item-text-wrap">
		    <img ng-src="{{entourage.captain.facebookInfo.picture.data.url}}" class = "detailedImg">
		    <p></p>
		    <h3>{{entourage.name}}</h3>
		    <p></p>
		    Date: {{entourage.date}}
		    <p></p>
		    Captain: {{entourage.captain.facebookInfo.first_name}} {{entourage.captain.facebookInfo.last_name}}
		    <p></p>
		    Members:
		    <p></p>
		    <ion-list>
	        <ion-item ng-repeat="member in entourage.members" type="item-text-wrap" href="{{member.facebookInfo.link}}">
	          <img ng-src="{{member.facebookInfo.picture.data.url}}" class = "smallImg">
	          {{member.facebookInfo.first_name}} {{member.facebookInfo.last_name}}
	        </ion-item>
	      </ion-list>
	      <br>
	      Parties Applied To:
		    <ion-list>
	        <ion-item ng-repeat="party in entourage.parties" type="item-text-wrap" href="{{party.facebook}}">
	          <img ng-src="{{party.imgUrl}}" class = "smallImg">
	          {{party.name}}
	        </ion-item>
	      </ion-list>
	      Parties Accepted At:
		    <ion-list>
	        <ion-item ng-repeat="party in entourage.parties" type="item-text-wrap" href="{{party.facebook}}">
	          <img ng-src="{{party.imgUrl}}" class = "smallImg">
	          {{party.name}}
	        </ion-item>
	      </ion-list>
		  </div>
		</div>
  </ion-content>
</ion-view>