<ion-view title="{{entourage.name}}">
  <ion-content has-header="true" padding="true">
	  <div class="card">
		  <div class="item item-text-wrap">
		    <img ng-src="{{entourage.captain.facebookInfo.picture.data.url}}" class = "detailedImg">
		    <p></p>
		    <h3>{{entourage.name}}</h3>
		    <p></p>
		    Date: {{entourage.date}}
		    <p></p>
		    Captain: {{entourage.captain.facebookInfo.first_name}} {{entourage.captain.facebookInfo.last_name}}
		    <p></p>
		    <ion-list>
		    <h3>Members</h3>
	        <ion-item ng-repeat="member in entourage.members" type="item-text-wrap" href="{{member.facebookInfo.link}}">
	          <!-- <img ng-src="{{member.imgUrl}}" class = "smallImg"> -->
	          {{member.facebookInfo.first_name}} {{member.facebookInfo.last_name}}
	        </ion-item>
	      </ion-list>
	      <br>
	      <h3>Parties Applied To</h3>
		    <ion-list>
	        <ion-item ng-repeat="party in entourage.partiesAppliedTo" type="item-text-wrap" href="#/main/entourage/partysearchresults/{{party.partyID}}">
	          <img ng-src="{{party.partyDetails.imgUrl}}" class = "smallImg">
	          {{party.partyDetails.name}}
	        </ion-item>
	      </ion-list>
	      <br>
	      <h3>Parties Accepted At</h3>
		    <ion-list>
	        <ion-item ng-repeat="party in entourage.partiesAcceptedAt" type="item-text-wrap" href="#/main/entourage/partysearchresults/{{party.partyID}}">
	          <img ng-src="{{party.partyDetails.imgUrl}}" class = "smallImg">
	          {{party.partyDetails.name}}
	        </ion-item>
	      </ion-list>
		  </div>
		</div>
	  <button class="button button-block button-positive" ng-click="findPartiesView(entourage)">
	  	<h4 style="color: white;">Find Parties!</h4>
		</button>
  </ion-content>
</ion-view>