<ion-view title="Create Entourage">
	<ion-nav-buttons side="left">
      <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
   </ion-nav-buttons>
  <ion-content class="has-header padding">
    <h3>Create New Entourage</h3>
		  
		<form name = "dateForm">
		  <label class="item item-input">
		    <span class="input-label">Enter Date</span>
		    <input name = "entourageDate" type="Date" ng-model="date" ng-required="true">
		    	<span class="error" ng-show="dateForm.entourageDate.$error.required">Required!</span><br>
		  </label>
		</form>

		  <h4>Either Use Existing Entourage</h4>
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Existing
		    </div> 
		    <select ng-change = "dateForm.$valid && selectExistingEntourage(entourage, date)" ng-model = "entourage" ng-options = "entourage.name for (name , entourage) in myEntourages"></select>
  		</label>

		  <h4>Or Create A New Entourage</h4>
		  <form name = "nameForm">
			  <label class="item item-input">
			    <input name = "entourageName" type="text" ng-model="newEntourage.name" ng-required="true">
			    	<span class="error" ng-show="nameForm.entourageName.$error.required">Required!</span><br>
			  </label>
			</form>

			<br>

		  <label ng-repeat="(user, members) in memberList">
  			<input type="checkbox" checklist-model="newEntourage.members" checklist-value="members"> 
  			{{members.facebookInfo.first_name}} {{members.facebookInfo.last_name}}<br>
			</label>

			<button class="button button-block button-positive" ng-click="nameForm.$valid && dateForm.$valid && addEntourage(newEntourage, date)">
	  		<h4 style="color: white;">Create & Find Parties!</h4>
			</button>
  </ion-content>
</ion-view>