<ion-view title="Daniel's Entourages">
	<ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="partyListFormat">
	    <h3>I'm the Captain</h3>
	    <ion-list>
	    	<h4> Waiting for Members</h4>
	      <ion-item ng-repeat="entourage in myentourages" type="item-text-wrap" href="#/main/entourage/myentourage/{{entourage.id}}">
	        <img ng-src="img/{{entourage.captain.imgUrl}}" class = "smallImg">
	        {{entourage.name}}
	      </ion-item>
	    </ion-list>
	    <ion-list>
	    	<h4> Members Locked (Find Parties)</h4> 
	      <ion-item ng-repeat="entourage in myentourages" type="item-text-wrap" href="#/main/entourage/myentourage/{{entourage.id}}">
	        <img ng-src="img/{{entourage.captain.imgUrl}}" class = "smallImg">
	        {{entourage.name}}
	      </ion-item>
	    </ion-list>
  	</div>
    
		<div class="partyListFormat">
	    <h3>I'm a Member</h3>
	    <ion-list>
	      <ion-item ng-repeat="entourage in memberentourages" type="item-text-wrap" href="#/main/entourage/memberentourage/{{entourage.id}}">
	        <img ng-src="img/{{entourage.captain.imgUrl}}" class = "smallImg">
	        {{entourage.name}}
	      </ion-item>
	    </ion-list>
	   </div>
  
  </ion-content>
</ion-view>