<ion-view title="Create Entourage">
	<ion-nav-buttons side="left">
      <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
   </ion-nav-buttons>
  <ion-content class="has-header padding">
    <h3>1. Select Entourage</h3>
		  <ul class="list">

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox" ng-model="entourage.DerekGillaspy">
			     </label>
			     Derek Gillaspy
			  </li>

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox" ng-model="entourage.TonyaReed">
			     </label>
			     Tonya Reed
			  </li>

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox" ng-model="entourage.AlexWainwright" >
			     </label>
			     Alex Wainwright
			  </li>		

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox" ng-model="entourage.RaynaRoumie">
			     </label>
			     Rayna Roumie
			  </li>		  

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox" ng-model="entourage.DanielleDiamond">
			     </label>
			     Danielle Diamond
			  </li>

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox" ng-model="entourage.MeaghanBarbin">
			     </label>
			     Meaghan Barbin
			  </li>
			</ul>

			<button class="button button-block button-positive" ng-click="addEntourageMembers(entourage)">
	  		<h4 style="color: white;">GO!</h4>
			</button>
			
  </ion-content>
</ion-view>