/* Empty. Add your own CSS if you like */
.partyListFormat {
	border: 10px solid #DCDCDC;
	/*border-bottom: none;*/
}

h3 {
	text-align: center;
	padding-top: 5px;
}

.smallImg {
	width: 2em;
	display:inline-block;
	vertical-align: middle;
}

.detailedImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10em;
}

.entouragebigImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 5em;
}

.entouragesmallImg {
	display: block;
	width: 3em;
}

.lineHeight {
	line-height: 10px;
}

.menu-left .scroll-content {
  background-color: #f4f4f4;
}